/* Hoja de estilos para página primavera */

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

.texto1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
    margin-left: 200px;
    margin-top: -150px;
    color: #000;
}

.texto2 {
    padding: 5px;
    margin-left: 200px;
    margin-top: 20px;
    text-align: justify;
}

.texto3 {
    background-color: #5E5E4A;
}

#contenedor{
    width: 900px;
    height: 1200px;
    border: 1px solid gray;
}

#encabezado {
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #bada55;
    background-color: #b58a69;
}

#aside {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #000;
    background-color: #D7D7CD;
    padding: 25px 45px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

#pie {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #E8E6E6;
    background-color: #5E5E4A;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#section {
    text-align: justify;
    background-color: #DEE5DE;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

section img {
    width: 190px;
    height: 140px;
    margin-top: 5px;
}

aside img {
    width: 180px;
    height: 120px;
    margin-top: 20px;
}

#boton {
    background-color: #5E5E4A;
    margin: 20px;
    padding: 5px 20px;
    color: white;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li:hover{
    color:crimson;
    text-decoration: none;
    list-style: none;
}

ul{
    padding: 10px;
}

li{
    text-align: center;
    display: inline;
    padding: 10px 40px;
    margin: 0;
}

@media screen and (max-width:650px){
    nav{
        flex-direction: column;
    }
    #contenedor{
        width: 600px;
    }
}