<center>
<img src="/img/logoUpsin.png" alt="logoUpsin">
<br>
<br>
<br>
<header> Universidad Politécnica de Sinaloa</header>
<br>
<br>
<p font-size: 20px;>Jesus Esteban Morales Niebla</p>
<br>
<br>
<a href="/html/primavera.html">Mi Pagina Examen Unidad 01 Ordinario</a>
<br>
<br>
<p>Grupo 7 - 2 : Tecnologías de la Información</p>
</center>